{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@storia/(.*)$", "^[./]", "^*.(s?)css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
